*{
    margin: 0;
    padding: 0;
}

main {
    min-width: 100vw;
    min-height: 100vh;
}
.main-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    min-height: 10vh;  
}

.hamburger {
    height: 50px;
    font-size: 35px;
    padding: 1rem;
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    color: #009688;
    cursor: pointer;
    visibility: visible;
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.logo-div {
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
}

.logo-div, h3 {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    margin-top: 1rem;
    color: #009688;
}

.logo-div, p {
    margin: 0;
    text-align: center;
    color: #795548;
    font-size: 14px;
}

@media screen and (min-width: 992px) {
    .hamburger{
        display: none;
    }
    .main-nav {
        grid-template-columns: 1fr;
        align-items: center;
        width: auto;
        min-height: auto;
    }
    .navbar-div {
        width: 15vw;
        height: 20vh;
        padding: 1rem;
        background: #fafafa;
    }

}